[scripts]
"test" = "pytest"
"test-clear" = "rm -rf .coverage coverage.xml test-results"
"setup-sdist" = "setup.py sdist"
"setup-wheel" = "setup.py bdist_wheel"
"release" = "twine upload -u $PYPI_USER -p $PYPI_PASSWORD  dist/*"

[packages]
# There is no dependencies ;)

[dev-packages]
pytest-cov = "*"
parameterized = "*"
semver = "*"
pytest = "*"
"pytest-flake8" = "*"
"flake8" = "*"
coverage = "*"
twine = "*"
wheel = "*"
ipython = "*"

[requires]
python_version = "3.6"
