[scripts]
"test" = "pytest"
"test-clear" = "rm -rf .coverage coverage.xml test-results"
"setup-sdist" = "python ./setup.py sdist"
"setup-wheel" = "python ./setup.py bdist_wheel"
"release" = "twine upload -u dist/*"
"lint" = "flake8 serum test"

[packages]
# There are no dependencies ;)

[dev-packages]
pytest-cov = "*"
parameterized = "*"
semver = "*"
pytest = "*"
"flake8" = "*"
coverage = "*"
twine = "*"
setuptools = "*"
wheel = "*"
ipython = "*"

[requires]
python_version = "3.6"
