version: 2
general:
  branches:
    ignore:
      - gh-pages
jobs:
  test:
    docker:
      - image: python:3.6-alpine
    working_directory: ~/serum
    steps:
      - checkout
      - run:
          name: Prepare
          command: |
            pip install pipenv
            pipenv sync -d
      - run:
          name: Test
          command: |
            pipenv run test
            coverage
      - store_artifacts:
          path: test-results
          destination: test-results
  deploy:
    docker:
      - image: python:3.6-alpine
    working_directory: ~/serum
    steps:
      - checkout
      - run:
          name: Prepare
          command: |
            pip install pipenv
            pipenv sync -d
      - run:
          name: Build
          command: |
            pipenv run setup-sdist
            pipenv run setup-wheel
      - run:
          name: Deploy
          command: |
            pipenv run release

workflows:
  version: 2
  test:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
      - deploy:
          requires:
            - test
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/


